*{
  color: rgb(65, 65, 65);
}
html{
  margin:0;
  padding:0;
  font-family:sans-serif;
  }

article{
border:3px solid green ;
width: 500px;
margin-left:auto;
margin-right:auto;border-radius:10px;
position:relative ;
margin-top: 60px;
}

article::before{
  Content:"OFFER";
  background-color:green;
  font-size:25px;
  font-weight:bold;
  padding:7px 25px;
  color:white;
  position:absolute ;
  transform:rotate(-45deg);
  top:-10px;
  left:-50px;;
}

article::after{
  Content:"Like";
  font-size:25px;
  padding:7px 25px;
  background-color:#f7f7f7;
  color:black;
  position:absolute ;
  bottom:16px;
  right:20px;
  
  
}

h2{
  font-size:26px;
  color:green;
  padding:20px;
  text-align:center;
  text-transform:uppercase ;;
  background-color:#f7f7f7;
  margin: 0;
  
}

.price{
  font-weight: bold;
  padding-left: 50px;
  text-transform: uppercase;
  color: white;
  background-color: green;
  padding: 10px  ;
}

.about-para{
text-align: justify;
padding: 0px 20px 0px 20px;
font-size: 20px;
line-height: 1.3;

}

h3{
  padding-left: 10px;
  text-transform: uppercase;
  text-decoration: underline;

}

ul{
font-size:20px;
list-style:square;
line-height:1.5;
margin-bottom:15px;

}
/* ul li::before {
  content:" √ ";
  color:green;
  display:inline-block ;
  font-weight:bold;
  width:1em;
margin-left:-1em;
} */


li{
  padding:5px;
  border-bottom:1px dotted black;
  margin-right:20px;
  
}
img{
  width:500px;
  height:auto;
  
}

button{
  background-color:#f7f7f7;
  color:green;
  font-size:30px;
  margin-top:25px;
  padding:5px 20px;
  border-radius:10px;
}
button:hover{
  background-color:green;
  color:rgb(255, 255, 255);
  font-size:30px;
  margin-top:25px;
  padding:5px 20px;
  border-color: green;
  border-radius:10px;
}

a{
  text-decoration: none;
  color: rgb(56, 56, 56);
  font-weight: bold;
  padding-left: 10px;

}
a:hover{
  text-decoration: none;
  color: green;
  font-weight: bold;
  text-decoration: underline;

}

.pointer{
  cursor: pointer;
}
.blue-color{
  width: 25px;
  height: 25px;
  background-color: blue;
  margin-right: 7px;
}
.green-color{
  width: 25px;
  height: 25px;
  background-color: lightskyblue;
  margin-right: 7px;
}
.pink-color{
  width: 25px;
  height: 25px;
  background-color: pink;
  margin-right: 7px;
}
.coral-color{
  width: 25px;
  height: 25px;
  background-color: coral;
  margin-right: 7px;
}
.red-color{
  width: 25px;
  height: 25px;
  background-color: red;
  margin-right: 7px;
}

div{
  display: inline-block;
}

/* .price-inline{
  display: inline-block;
} */

span{
  display: inline-block;
  background-color: rgb(195, 255, 195);
  margin-right: 5px;
  margin-left: 25PX;
  margin-top: 10PX;
  padding: 5px 20px 5px 20px;
  font-weight: bold;

}

.delivery{
font-weight: bold;
font-size: 12px;
font-style: italic;
color: rgb(78, 78, 78);
padding: 8px 20px 8px 20px;
}
